.speech{
    font-family:"Times New Roman", serif;
    font-size:19px;
    color:black;
}

.direction{
    font-family:"Arial", monospace;
    font-size: 18px;
    color:black;
    background-color: lightyellow;
}

.direction:hover{
    background-color: skyblue;
    color:darkblue;
}

.neoptolemus{
    color: green;
}

.philoctetes{
    color:red;
}

table{
    width:100%;
    border-collapse:collapse;
    margin:20px 0;
}
th, td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
th{
    background-color: green;
    color:white;
}
tbody tr:nth-child(even){
    background-color: light grey;
}