.speech{
    font-family:"Times New Roman", serif;
    font-size:19px;
    color:black;
}

.direction{
    font-family:"Arial", monospace;
    font-size: 18px;
    color:black;
    background-color: lightyellow;
}

.direction:hover{
    background-color: skyblue;
    color:darkblue;
}

.neoptolemus{
    color: green;
}

.philoctetes{
    color:red;
}
